* {
    margin: 0; /* Margem dos elemenots (Externo) */
    padding: 0; /*espaçamento interno do elemento */
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;

}

ul {
    list-style: none; /* tIRAR O ESTIlo das listas */
}
