* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    min-height: 100vh;
    background-color: #0e1035;
  }
  
  .header {
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 15px 100px;
    background: linear-gradient(60deg, rgb(8, 9, 38, 1), rgb(8, 9, 38, 1));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
    font-weight: lighter;
    font-size: 20px;
  }  
  
  .navbar a:hover {
    color: rgb(117, 135, 240);
  }
  
  .logo {
    width: 300px;
    cursor: pointer;
  }
  
  h1 {
    color: rgb(246, 247, 249);
    justify-content: center;
    display: flex; 
    padding-top: 110px;
    align-items: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
  }
  
  h3 {
    color: rgb(80, 162, 255);
    justify-content: center;
    display: flex;
    padding-top: 10px;
    align-items: center;
    font-size: 24px; 
    font-weight: lighter;
  }
  
  p {
    color: #fff;
    justify-content: center;
    padding: 20px;
    display: flex;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  
  
  
  footer {
    background-color: rgb(37, 6, 95);
    color: white;
    margin-top: auto;
    padding: 16px;
    bottom: 0;
    position:relative;
    width: 100%;
    justify-content: center;
  }
  
  
  .botao{
    cursor: pointer;
  }
  
  .botao:hover{
    background-color: lightgray;
    opacity: 0.5;
  }
  
  .Instrucoes-botao{
    padding: 5px 20px;
      display: inline;
      background-color: rgba(76, 93, 190, 0.514);
      border-radius: 20px;
      color: white;
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      top: 25%;
      left: 87%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 22.5px;
      text-align: center;
      font-family: 'Poppins', sans-serif;
  }
  
  .Instrucoes-botao:hover{
    background-color: rgba(0, 81, 255, 0.733);
  }
  
  .janela-Instrucao.abrir {
    display: flex;
    position:fixed;
  }
  
  .instruction{
      width: 20%;
      width: 450px;
      min-height: 200px;
      margin-left: 1150px;
      margin-right: -250px;
      margin-top: 160px;
      background-color: rgba(243, 243, 243, 0.849);
      backdrop-filter: blur(10px);
      padding: 0px;
      border-radius: 20px;   
  }
  
  .janela-modal, .janela-modal2, .janela-modal3, .janela-modal4, .janela-modal5,
  .janela-modal6, .janela-modal7, .janela-modal8, .janela-modal9, .janela-modal10, 
  .janela-Instrucao{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    backdrop-filter: blur(2px);
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .modal, .modal2, .modal3, .modal4, .modal5, 
  .modal6, .modal7, .modal8, .modal9, .modal10 {
    width: 20%;
    width: 450px;
    min-height: 200px;
    background-color: rgba(201, 201, 201, 0.938);
    backdrop-filter: blur(10px);
    padding: 0px;
    border-radius: 20px;
  }
  
  .fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
  }
  
  .janela-modal.abrir, .janela-modal2.abrir, .janela-modal3.abrir, .janela-modal4.abrir, .janela-modal5.abrir,
  .janela-modal6.abrir, .janela-modal7.abrir, .janela-modal8.abrir, .janela-modal9.abrir, .janela-modal10.abrir {
    display: flex;
  }
  
  .imagens, .imagens2, .imagens3, .slide, .passar-foto {
    width: 60%;
    min-width: 350px;
    min-height: 100px;
    width: 450px;
    border-top-left-radius: 20px;
  }
  
  .nome-local{
    color: rgb(12, 4, 83);
    margin-top: -100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }
  
  .titulo-Instrucao {
    color: rgb(12, 4, 83);
    margin-top: -100px;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    
  }
  
  #mensagem, #mensagem2, #mensagem3, #mensagem4, #mensagem5, 
  #mensagem6, #mensagem7, #mensagem8, #mensagem9, #mensagem10, 
  #mensagem-Instrucao {
    color: black;
    font-size: 20px;
    height: auto;
    text-align: justify;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    margin-left: 22.5px;
  }
  
  .map-class {
      position: relative;
    display:inline-block;
  }
  .map-class img {
    text-align: center;
  }
  .map-class .map-selector {
    left:0;
    top:0;
    right:0;
    bottom:0;
    color:#546E7A00;
    transition-duration: .0.5s;
      transition-timing-function: ease-out;
      transition-property: top, left, right, bottom, color;
  }
  .map-class .map-selector.hover {
    color:#a2b5be80;
  }
  
  .map-selector:after {
      content: '';
      position: absolute;
      background: currentColor;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: currentColor;
      transition-duration: .0.5s;
      transition-timing-function: ease-out;
      transition-property: top, left, right, bottom, background;
      pointer-events: none;
  }
  
  